<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<acl>
<resources>
<resource id="Magento_Backend::admin">

		<resource 	id="Paarth_HelloWorld::helloworld" 	title="Paarth_HelloWorld" sortOrder="80">
		<resource id="Paarth_HelloWorld::index" title="Paarth_HelloWorld_Index" />
		<resource id="Paarth_HelloWorld::component" title="Paarth_HelloWorld_Component" />
		
        </resource>
		
		<resource id="Magento_Backend::stores">
						<resource id="Magento_Backend::stores_settings">
							<resource id="Magento_Config::config">
							<resource id="Paarth_HelloWorld::confighelloworld" title="Paarth HelloWorld config Section" />
							</resource>
						</resource>
        </resource>
</resource>

</resources>
</acl>
</config>